@page
@model POS.Pages.AddItem.IndexModel

@{
    ViewData["Title"] = "Index";
}
@section styles {

    <link href="~/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/datatables.net-select-bs4/select.bootstrap4.min.css" rel="stylesheet" />   
}

<h1>Item</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table id="Mytable" class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].ItemQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].UpdatDate)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
</table>
<partial name="_MyPartialScript" />
<script src="~/datatables/js/jquery.datatables.min.js"></script>
<script src="~/datatables/js/datatables.bootstrap4.min.js"></script>
<script src="~/datatables.net-select/datatables.select.min.js"></script>
<script src="~/datatables.net-select-bs4/select.bootstrap4.min.js"></script>
<script>
    $(function () {
        $('#Mytable').DataTable({
            ajax: 'api/DataTable/Items',
            columns: [
                {
                    defaultContent: null,
                    width: "2.5%",
                    render: function () {
                        return '<input type="checkbox" class="form-check-input" style="margin-inline:25%">'
                    },
                    ordering: false,
                    orderable: false,
                },
                { data: 'itemName' },
                { data: 'itemQty' },
                { data: 'itemPrice' },
                { data: 'createdDate' },
                { data: 'updatDate' },
                {
                    data: null,
                    render: function (row, type, data) {
                        return '<a href="AddItem/Edit?id=' + row.itemId + '" class = "btn btn-sm btn-outline-info">Edit</a> | ' +
                            '<a href="AddItem/Delete?id=' + row.itemId + '" class="btn btn-sm btn-outline-danger">Delete</a>';

                    }
                }
            ],
            columndefs: [{
                orderable: false,
                classname: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
        });
    });
</script>